body{
    width: auto;
    height: auto;
    
}

.nav{
    border: 2px solid;
    height: auto; 
    justify-content: space-between;
    display: flex;
    padding: 10px;
    background-color: rgba(122,158,126,255);
  }

.Content{
    /* border: 2px solid #ff0000; */
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    height: 680px;
    /* max-width: 100%; */
       
}

.Left{
    /* border: 2px solid #00ff00; */
    align-items: stretch;
    height: auto;
    width: 20%;
    text-align: left;
    background-color: rgba(211,220,220,255);
   }

.Center{
    /* border: 2px solid #0000ff; */
    flex-grow: 1px;
    width: 60%;
    text-align: left;
    background-color: rgba(211,220,220,255);
    
   }

.Right{
    /* border: 2px solid #fed801; */
    width: 20%;
    align-items: center;
    background-color: rgba(211,220,220,255)
    ;
}

.leftimage{
    display: flex;
    padding-inline: 20px;
    padding-top: 10px;
    border-radius: 20px;
}

 h2{
    margin-left: 10px;
 }

 .welcome{
    margin-left:10px;
 }
img{
    border-radius: 20px;
}

.centerimg{
    display: flex;
    padding: 10px;
    margin-left: 10px;
    background-color: rgba(242,247,247,255);
}
.centerpara{
    margin-left: 10px;
}

.navbar{
    display: flex;
    align-items:center;
           
}



.flask{
    align-items: center;
    padding-top: 10px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: rgba(49,73,61,255);
}

.icon{
    text-align: center;
}

