body{
    width: auto;
    height: auto;
    
}

.nav{
    border: 2px solid;
    padding-bottom: 30px;
   }

.Content{
    border: 2px solid #ff0000;
    text-align: center;
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    height: 680px;
    /* max-width: 100%; */
       
}

.Left{
    border: 2px solid #00ff00;
    align-items: stretch;
    height: auto;
    width: 20%;
    text-align: left;
   }

.Center{
    border: 2px solid #0000ff;
    flex-grow: 1px;
    width: 60%;
    text-align: left;
   }

.Right{
    border: 2px solid #fed801;
    width: 20%;
    text-align: left;
}

.leftimage{
    display: flex;
}

.centerimg{
    display: flex;
}